.menu {
    background: #EEEEEE 0% 0% no-repeat padding-box;;
    background-size: cover;
    background-repeat: no-repeat;
    height: clamp(3rem, 5vw, 96px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    ul {
        list-style: none; 
        gap: 3.33vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        li {
            display: inline-block;
            a {
                font-size: clamp(1.5rem, 2.5vw, 4.8rem);
                color: #2F2F2F;
                font-family: "Trap", sans-serif;
                text-decoration: none;

                &:hover, &:focus {
                    background: linear-gradient(90deg, rgba(116,0,184,1) 0%, rgba(72,191,227,1) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}